<div class="our-container">
<h1>Welcome to the Survey Generator</h1>
<h2>Surveys</h2>

<% if @surveys.any? %>
  <ul>
    <% @surveys.each do |survey| %>
      <li><%= link_to survey.name, survey_path(survey) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No surveys to display.</p>
<% end %>

<p><%= link_to "Add a survey", new_survey_path %></p>

<%= image_tag "survey_img.jpeg" %>
</div>